<div class="container">
<div class="row justify-content-center">
  <img algin-center class="centrado" src="../../assets/img/logo-iia-unaj.png">

</div>
<div class="row justify-content-center">
    <img algin-center class="centrado" src="../../assets/img/logo-TICAPPS.jpg">
</div>
<br>
<hr>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">Desarrollador</h3>
          <hr>
          <p class="card-text">Ing. Javier Mayer</p>
          <p class="card-text">javimayer14@gmail.com</p>
        </div>
      </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">Docente supervisor</h3>
          <hr>
          <p class="card-text">Dr. Ing. Martin Morales</p>
          <p class="card-text">martin.unaj@gmail.com</p>
        </div>
      </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contacto UNAJ</h3>
          <hr>
          <p class="card-text">mail: ingenieriainformatica@unaj.edu.ar</p>
        </div>
      </div>
</div>


</div>
