<div class="container">
  <div class="row justify-content-center">
    <h2 >Proyecto UNAJ Investiga: “Transformaciones del empleo, las condiciones de trabajo y los conflictos laborales por sector de actividad en la región Conurbano Sur”. </h2>

  </div>

  <br>
  <hr>
  
  <div class="col-md-6">
      <div class="card">
          <div class="card-body ">
            <div class="row justify-content-center">

            <h2 class="card-title ">Directora</h2>
            </div>
            <hr>
            <div class="row justify-content-center">

            <h4 class="card-text">Alejandra Esponda</h4>
            </div>
          </div>
        </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body justify-content-center">
            <div class="row justify-content-center">

            <h2 class="card-title">Co-directora</h2>
            </div>
            <hr>
            <div class="row justify-content-center">

            <h4 class="card-text">Andrea Suarez Maestre</h4>
            </div>
          </div>
        </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <h2>Integrantes:</h2>
</div>
<br>
<div class="row justify-content-center">
  <p>Esteban Secondi</p>
</div>
  <div class="row justify-content-center">

  <p>Florencia Partenio</p>
  </div>
  <div class="row justify-content-center">

  <p>Ana Feldman</p>
  </div>
  <div class="row justify-content-center">

  <p>Fernanda Carrizo</p>
  </div>
  <div class="row justify-content-center">

  <p>Walter Bosisio</p>
  </div>
  <div class="row justify-content-center">

  <p>Sabrina Rumiz</p>
  </div>
  <div class="row justify-content-center">

  <p>Verónica Segovia</p>
  </div>
  <div class="row justify-content-center">

  <p>Mariano Esquivel</p>
  </div>
  <br>
  <hr>
<br>
  <h4>Contacto: herramientasindical.unaj@gmail.com  
 
  </h4>
<hr>
  </div>
  