<div class="container">

  <h1>historial</h1>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        <input [(ngModel)]="buscar" name="buscar" (keyup.enter)="buscarHistorial()" type="text" class="form-control"
          placeholder="Buscar historial de delegado">
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let reg of datosBusqueda" class="col-md-4">
      <div *ngIf="reg[0]=='CONF'" class="card-deck">
        <div class="card">
          <img src="../../assets/img/conflicto.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Conflicto laboral</h5>
            <p class="card-text">{{reg[6]}}</p>
            <hr>
            <p class="card-text">Motivo: {{reg[1]}}</p>
            <p class="card-text">Medida: {{reg[8]}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">fecha de suceso: {{reg[9]}}</small>
          </div>
        </div>
      </div>
      <div *ngIf="reg[0]=='VAR'" class="card-deck">
        <div class="card">
          <img src="../../assets/img/variaciones.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Variacion laboral</h5>
            <p class="card-text">{{reg[6]}}</p>
            <hr>
            <p class="card-text">Cantidad de trabajadores: {{reg[2]}}</p>
            <p class="card-text">Tipo de contrato: {{reg[3]}}</p>
            <p class="card-text">{{reg[4]}}</p>
            <p class="card-text">Tipo de variacion: {{reg[5]}}</p>

          </div>
          <div class="card-footer">
            <small class="text-muted">fecha de suceso: {{reg[9]}}</small>
          </div>
        </div>
      </div>
      <div *ngIf="reg[0]=='CAMB'" class="card-deck">
        <div class="card">
          <img src="../../assets/img/cambios.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cambio laboral</h5>
            <p class="card-text">{{reg[6]}}</p>
            <hr>
            <p class="card-text">Motivo: {{reg[1]}}</p>

          </div>
          <div class="card-footer">
            <small class="text-muted">fecha de suceso: {{reg[9]}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>