<div class="container fadeIn first">
  <h1>Usuarios</h1>
  <hr />

  <form #form="ngForm" (ngSubmit)="saveData(form)" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="table_responsive">

          <table class="table">
            <table class="table">
              <thead class="">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Tipo de contrato</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Afiliados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Directos:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_directos" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_directos_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Sub contratados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subcontratados" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subcontratados_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Pasantia/Beca:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_pasantias_becas" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_pasantias_becas_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Monotributistas:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_monotributistas" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_monotributistas_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Subvencionados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subvencionados" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subvencionados_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Temporarios/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_contratos_temporarios" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="
                        relevamientoForm.cant_contratos_temporarios_uom
                      " oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Terciarizados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_terciarizados" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_terciarizados_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Por agencia:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_agencia" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_agencia_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Personas con discapacidad:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_personas_discapacidad" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="
                        relevamientoForm.cant_personas_discapacidad_uom
                      " oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">No registrado:</th>
                  <td></td>
                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_no_registrados" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>

                  <td>
                    <input name="buscar" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_no_registrados_uom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                  </td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
      <div *ngIf ="this.flag == 1" class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Observaciones</span>
        </div>
        <textarea name="descripcion" class="form-control" aria-label="With textarea"
          [(ngModel)]="relevamientoForm.descripcion" #desc="ngModel" ></textarea>
        <div class="alert alert-danger" *ngIf="desc.invalid && (desc.dirty || desc.touched)">
          <div *ngIf="desc.errors.required">
            Descripcion es requerido
          </div>

        </div>
      </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary fadeIn second" [disabled]="!form.form.valid">
      Confirmar
    </button>
    <br />
  </form>
</div>






<!--si viene del boton "relevamiento"-->





