<div *ngIf="relevamiento.flag != 0" class="container fadeIn first">

  <h1>Usuarios</h1>
  <hr />

  <form #form="ngForm" (ngSubmit)="editData(form)" novalidate>
    <div class="row">
      <div class="col-md-12">
        
        <div class="table_responsive">

          <table class="table">
            <table class="table">
              <thead class="">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Tipo de contrato</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Afiliados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Directos:</th>
                  <td></td>
                  <td>
                    <input name="buscar1" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_directos" />
                  </td>

                  <td>
                    <input name="buscar2" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_directos_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Sub contratados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar3" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subcontratados" />
                  </td>

                  <td>
                    <input name="buscar4" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subcontratados_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Pasantia/Beca:</th>
                  <td></td>
                  <td>
                    <input name="buscar5" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_pasantias_becas" />
                  </td>

                  <td>
                    <input name="buscar6" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_pasantias_becas_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Monotributistas:</th>
                  <td></td>
                  <td>
                    <input name="buscar7" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_monotributistas" />
                  </td>

                  <td>
                    <input name="buscar8" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_monotributistas_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Subvencionados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar9" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subvencionados" />
                  </td>

                  <td>
                    <input name="buscar10" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_subvencionados_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Temporarios/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar11" type="number" class="form-control" placeholder="Cantidad de trabajadores" ngInit ="relevamientoForm.cant_contratos_temporarios"
                      [(ngModel)]="relevamientoForm.cant_contratos_temporarios" />
                  </td>

                  <td>
                    <input name="buscar12" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="
                        relevamientoForm.cant_contratos_temporarios_uom
                      " />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Terciarizados/as:</th>
                  <td></td>
                  <td>
                    <input name="buscar13" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_terciarizados" />
                  </td>

                  <td>
                    <input name="buscar14" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_terciarizados_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Por agencia:</th>
                  <td></td>
                  <td>
                    <input name="buscar15" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_agencia" />
                  </td>

                  <td>
                    <input name="buscar16" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_agencia_uom" />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Personas con discapacidad:</th>
                  <td></td>
                  <td>
                    <input name="buscar17" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_personas_discapacidad" />
                  </td>

                  <td>


                    <input name="buscar18" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="
                        relevamientoForm.cant_personas_discapacidad_uom
                      " />
                  </td>
                </tr>
                <tr>
                  <th scope="row">No registrado:</th>
                  <td></td>
                  <td>
                    <input name="buscar19" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_no_registrados" />
                  </td>

                  <td>
                    <input name="buscar20" type="number" class="form-control" placeholder="Cantidad de trabajadores"
                      [(ngModel)]="relevamientoForm.cant_no_registrados_uom" />
                  </td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
      <div *ngIf ="this.flag == 1" class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Observaciones (obligatorio)</span>
        </div>
        <textarea name="descripcion" class="form-control" aria-label="With textarea"
          [(ngModel)]="relevamientoForm.descripcion" #desc="ngModel" required></textarea>
        <div class="alert alert-danger" *ngIf="desc.invalid && (desc.dirty || desc.touched)">
          <div *ngIf="desc.errors.required">
            Descripcion es requerido
          </div>

        </div>
      </div>
    </div>

    <br />
    <!-- <button type="submit" class="btn btn-primary fadeIn second" [disabled]="!form.form.valid">
      Editar
    </button> -->
    <br />
  </form>
</div>