<div class="container fadeIn first">
  <h1>Usuarios</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="table_responsive">
        <table class="table">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Relevamiento inicial</th>
                <th scope="col">Datos del usuario</th>
                <th scope="col">Eliminar</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data;  let i = index">
                <th scope="row">{{i+ 1}}</th>
                <td>{{d.nombreUsuario}}</td>
                <td>{{d.apellidoUsuario}}</td>
                <td>{{d.username}}</td>

                <td> <button (click)="obtenerRelevamiento(d.id)" type="button"
                    class="btn btn-secondary btn-lg">Relevamiento inicial</button>
                <td> <button (click)="traerUsuarioPorId(d.id)" type="button" class="btn btn-secondary btn-lg"
                    >detalle</button></td>
                <td> <button (click)="eliminarUsuario(d.id)" type="button"
                    class="btn btn-danger btn-lg">eliminar</button>
                </td>



              </tr>
            </tbody>
          </table>


        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Datos del usuario</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <TABLE class="table">
            <TR>
              <TD>Nombre usuario:</TD>
              <TD>{{usuarioObtenido.nombreUsuario}}</TD>
            </TR>
            <TR>
              <TD>Apellido usuario:</TD>
              <TD>{{usuarioObtenido.apellidoUsuario}}</TD>
            </TR>
            <TR>
              <TD>Nombre empresa:</TD>
              <TD>{{usuarioObtenido.nombreEmpresa}}</TD>
            </TR>
            <TR>
              <TD>Username:</TD>
              <TD>{{usuarioObtenido.username}}</TD>
            </TR>
            <TR>
              <TD>Telefono:</TD>
              <TD>{{usuarioObtenido.telefono}}</TD>
            </TR>
            <TR>
              <TD>Telefono celular:</TD>
              <TD>{{usuarioObtenido.telefonoCelular}}</TD>
            </TR>
            <TR>
              <TD>Provincia:</TD>
              <TD>{{usuarioObtenido.provincia}}</TD>
            </TR>
            <TR>
              <TD>Partido:</TD>
              <TD>{{usuarioObtenido.partido}}</TD>
            </TR>
            <TR>
              <TD>Direccion:</TD>
              <TD>{{usuarioObtenido.direccion}}</TD>
            </TR>
            <TR>
              <TD>Cuit:</TD>
              <TD>{{usuarioObtenido.cuit}}</TD>
            </TR>
            <TR>
              <TD>Fecha inicio en proyecto:</TD>
              <TD>{{usuarioObtenido.fechaInicioEnProyecto}}</TD>
            </TR>
            <TR>
              <TD>Descripcion:</TD>
              <TD>{{usuarioObtenido.descripcion}}</TD>
            </TR>
            <TR>
              <TD>cct n°:</TD>
              <TD>{{usuarioObtenido.cctNro}}</TD>
            </TR>
            <TR>
              <TD>Rama actividad:</TD>
              <TD>{{usuarioObtenido.ramaActividad}}</TD>
            </TR>
          </TABLE>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>
</div>