
<div class="container fadeIn first">
  <h1>Detalle usuario: {{usuarioObtenido.nombreUsuario}}</h1>
  <br>
  <div class="card">
    <div class="card-body">
      <TABLE class="table">
          <TD>Nombre usuario:</TD>
          <TD>{{usuarioObtenido.nombreUsuario}}</TD>
        <TR>
          <TD>Apellido usuario:</TD>
          <TD>{{usuarioObtenido.apellidoUsuario}}</TD>
        </TR>
        <TR>
          <TD>Nombre empresa:</TD>
          <TD>{{usuarioObtenido.nombreEmpresa}}</TD>
        </TR>
        <TR>
          <TD>Username:</TD>
          <TD>{{usuarioObtenido.username}}</TD>
        </TR>
        <TR>
          <TD>Telefono:</TD>
          <TD>{{usuarioObtenido.telefono}}</TD>
        </TR>
        <TR>
          <TD>Telefono celular:</TD>
          <TD>{{usuarioObtenido.telefonoCelular}}</TD>
        </TR>
        <TR>
          <TD>Provincia:</TD>
          <TD>{{usuarioObtenido.provincia}}</TD>
        </TR>
        <TR>
          <TD>Partido:</TD>
          <TD>{{usuarioObtenido.partido}}</TD>
        </TR>
        <TR>
          <TD>Direccion:</TD>
          <TD>{{usuarioObtenido.direccion}}</TD>
        </TR>
        <TR>
          <TD>Cuit:</TD>
          <TD>{{usuarioObtenido.cuit}}</TD>
        </TR>
        <TR>
          <TD>Fecha inicio en proyecto:</TD>
          <TD>{{usuarioObtenido.fechaInicioEnProyecto}}</TD>
        </TR>
        <TR>
          <TD>Descripcion:</TD>
          <TD>{{usuarioObtenido.descripcion}}</TD>
        </TR>
        <TR>
          <TD>cct:</TD>
          <TD>{{usuarioObtenido.cct}}</TD>
        </TR>
        <TR>
        <TD>cctNro:</TD>
          <TD>{{usuarioObtenido.cctNro}}</TD>
        </TR>
        <TR>
          <TD>cctNro2:</TD>
            <TD>{{usuarioObtenido.cctNro2}}</TD>
          </TR>
          <TR>
            <TD>cctNro3:</TD>
              <TD>{{usuarioObtenido.cctNro3}}</TD>
            </TR>
            <TR>
              <TD>cctNro4:</TD>
                <TD>{{usuarioObtenido.cctNro4}}</TD>
              </TR>
        <TR>
          <TD>Rama actividad:</TD>
          <TD>{{usuarioObtenido.ramaActividad}}</TD>
        </TR>
        <TR>
          <TD>Rama actividad 2:</TD>
          <TD>{{usuarioObtenido.ramaActividad2}}</TD>
        </TR>
        <TR>
          <TD>Rama actividad 3:</TD>
          <TD>{{usuarioObtenido.ramaActividad3}}</TD>
        </TR>
        <TR>
          <TD>Rama actividad 4:</TD>
          <TD>{{usuarioObtenido.ramaActividad4}}</TD>
        </TR>
      </TABLE>
    </div>
  </div>

</div>




  